==
<div class="col-md-5 col-md-push-7">
    <h2>Indbydelsen</h2>
    <p>På SKS er der grupper med hver sit formål og koncept. Vi tror på, at unge FDF’ere bør udfordres på det de er gode til - og samtidig udfordres på ukendte områder indenfor FDFs mange muligheder. Med udgangspunkt i sit eget gruppevalg, sørger alle medarbejdere på Vork for en balancegang mellem det sikre og det ukendte. Det er her man udvikler sig...</p>
    <a href="https://flexbillet.dk/fdf/event/knj7p7" class="btn btn-block btn-lg btn-primary" target="_blank">Tilmeld dig her!</a>
    <br>
</div>
<div class="col-md-7 col-md-pull-5" style="padding:0px;">
    <object data="https://fdf.dk/_Resources/Persistent/69971528703d3c09d4ce3e9f72ef1528e3697476/KursuskatalogFor%C3%A5r_2020_Vork.pdf" type="application/pdf" style="width: 100%;height:500px;">
        <embed src="https://fdf.dk/_Resources/Persistent/69971528703d3c09d4ce3e9f72ef1528e3697476/KursuskatalogFor%C3%A5r_2020_Vork.pdf" type="application/pdf" />
    </object>
</div>