==
{% for andagt in this.page.andagter %}
<form data-request="Andagter::onUpdateAndagt">
    <input type="hidden" name="id" value="{{ andagt.id }}">
    <tr>
        <td>
            <span class="vis show" style="display:none;">{{ andagt.sortering }}</span>
            <span class="edit" style="display:none;"><input type="text" name="sortering" value="{{ andagt.sortering }}" class="form-control"></span>
        </td>
        <td>
            <span class="vis show" style="display:none;">{{ andagt.navn }}</span>
            <span class="edit" style="display:none;"><input type="text" name="navn" value="{{ andagt.navn }}" class="form-control"></span>
        </td>
        <td>
            <span class="vis show" style="display:none;">{{ andagt.tovholder }}</span>
            <span class="edit" style="display:none;"><input type="text" name="tovholder" value="{{ andagt.tovholder }}" class="form-control"></span>
        </td>
        <td>
            <span class="vis show leave pull-right" style="display:none;">
                <button type="button" class="btn btn-xs btn-default tableRet">Ret</button>
                <a href="/andagter/{{ andagt.id }}" class="btn btn-xs btn-success">Åbn</a>
            </span>
            <span class="edit pull-right" style="display:none;">
                <button type="button" class="btn btn-xs btn-danger" data-request="onDeleteAndagt" data-request-data="id: {{ andagt.id }}"  data-request-update="'andagter/listAndagter': '#tbodyAndagter'">Slet</button>
                <button type="submit" class="btn btn-xs btn-primary tableGem">Gem</button>
            </span>
        </td>
    </tr>
</form>
{% endfor %}