==
<div class="col-xs-12" style="padding:30px 0px;">
<div class="col-xs-12"><h2>Hvad er Vork?</h2></div>
<div class="col-md-6">
    <p>Vork er FDFs fedeste kursus for dig, der er senior og som har lyst til at opleve en uge fyldt med nye ideer og god tid til at tænke dig om...</p>
    <p>Et af specialerne på Vork er, at vi sammen er fantastiske til at finde nye, skæve og sjove vinkler på det du troede, du kendte hjemmefra. Samtidig laver vi også masser af nye idéer, der er lige til at tage med hjem i kredsen. Her er ingen grænser for, hvor fantasien og fordybelsen kan føre os hen. Vork er dog ikke kun et kursus med fuld knald på. Her har vi også tid til eftertænksomhed og nærvær - og måske du med fødderne i vandet i vores lille sø, kommer til at opleve den mest varme solopgang nogensinde.</p>
    <p>Vork er kort sagt stedet, hvor du kan få udlevet dine drømme og vildeste idéer sammen med folk, der bliver vigtige venner for dig resten af livet.</p>
</div>
<div class="col-md-6">
<h3 style="margin-top:0px;">Fede fællesoplevelser</h3>
    <p>Selvom man vælger sig ind på en gruppe, hvor man er i selskab med 15-20 andre unge FDF’ere, så tror vi på at der gemmer sig noget vigtigt i det store sus.</p>
    <p>Derfor vægter vi fællesoplevelserne højt. For det er fedt at mærke, at man er 200 FDFere samlet på samme sted. Der vil på et seniorkursus på Vork være både fabelagtige shows, gakkede temafester, lærerrige fælleslege, tankevækkende andagter og masser af andre muligheder for at mødes på tværs af grupperne.</p>
    <p>Kurset foregår hvert år i påskeferien og efterårsferien.</p>
</div>
</div>